:root {
    --dark-green: #14342bff;
    --asparagus: #60935dff;
    --white: #ffffffff;
    --old-gold: #bab700ff;
    --licorice: #140009ff;
  }
body {
    background-color: var(--licorice);
    font-family: 'Quicksand', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    color: var(--dark-green);
}
a, a:visited, nav a, nav a:visited {
    color: var(--asparagus);
}
a:hover, a:active {
    color: var(--dark-green);
}
a:active {
    text-decoration: none;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 25px;
    padding: 0;
}
nav ul li {
    margin: 0;
    padding: 0;
    border-left: 1px solid var(--dark-green);
}
nav ul li:first-of-type {
    border: none;
}
nav a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    height: fit-content;
}
nav a:hover, nav a.current {
    color: var(--old-gold);
}
nav a.current {
    text-decoration: none;
}
#wrapper {
    color: var(--old-gold);
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 1000px;
}
main {
    background-color: var(--white);
    color: var(--dark-green);
    margin: 0;
    width: 100%;
}
footer {
    font-size: small;
    margin: 0;
    padding: 10px;
    text-align: center;
}