:root {
    --dark-green: #14342b;
    --asparagus: #60935d;
    --white: #fefefe;
    --old-gold: #bab700;
    --licorice: #140009;
  }
body {
    background-color: var(--licorice);
    font-family: 'Quicksand', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}
h1, h2, h3, h4, h5, h6 {
    color: var(--asparagus);
    font-weight: 500;
}
h1 {
    font-size: 3em;
    padding: 0 0 10px;
    border-bottom: 1px solid var(--asparagus);
    text-align: center;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0 0 20px 0;
}
.dark {
    padding: 10px 20px;
    text-align: center;
    background-color: var(--dark-green);
    color: var(--white);
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
a, a:visited, nav a, nav a:visited {
    color: var(--asparagus);
}
a:hover, a:active {
    color: var(--dark-green);
}
a:active {
    text-decoration: none;
}
.menu-toggle {
    display: none;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 25px;
    padding: 0;
}
nav ul li {
    margin: 0;
    padding: 0;
    border-left: 1px solid var(--dark-green);
}
nav ul li:first-of-type {
    border: none;
}
nav a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    height: fit-content;
}
nav a:hover, nav a.current {
    color: var(--old-gold);
}
nav a.current {
    text-decoration: none;
}
#wrapper {
    color: var(--old-gold);
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 800px;
}
main {
    background-color: var(--white);
    color: var(--dark-green);
    margin: 0;
    width: 100%;
    padding: 40px;
}
#header-img {
    opacity: 0.8;
    width: 100%;
    margin-bottom: 20px;
}
footer {
    font-size: small;
    margin: 0;
    padding: 10px;
    text-align: center;
}
.golden-box {
    border: 2px solid var(--old-gold);
    padding: 0;
    margin: 0 0 20px 0;
}

.golden-box-caption {
    background-color:  var(--old-gold);
    color: var(--licorice);
    margin: 0;
    padding: 10px 20px;
    font-weight: 400;
}

.golden-box-content {
    color: var(--dark-green);
    margin: 0;
    padding: 10px 20px;
}

/* forms and accordions */
.accordion {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: 1px solid #ddd;
    outline: none;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #f1f1f1;
}

.panel {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.panel input,
.panel textarea {
    width: calc(100% - 16px);
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.panel input:valid,
.panel textarea:valid {
    border-color: green;
}

.panel input:invalid,
.panel textarea:invalid {
    border-color: orange;
}

.panel button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 0.5;
    pointer-events: none;
}

.panel button:hover:disabled {
    opacity: 0.5;
}

.panel button:enabled {
    opacity: 1;
    pointer-events: auto;
}

.panel button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 600px) {
    .menu-toggle {
        display: block;
        color: var(--asparagus);
        padding: 10px 20px;
        border: 2px solid var(--asparagus);
        margin: 12px 20px;
        background-color: none;
        font-weight: 500;
    }
    .menu-toggle:hover {
        background-color: var(--asparagus);
        color: var(--white);
    }
    nav ul {
        display: none;
    }

    nav.active ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background-color: var(--licorice);
    }

    nav.active ul li {
        text-align: center;
        padding: 10px;
        border-bottom: 1px solid var(--dark-green); /* Подгоните под ваши нужды */
    }
}